.layout-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Mobile responsiveness */
@media screen and (max-width: 767px) {
  .event-planning img {
    height: 240px;
  }
  .event-planning h1 {
    font-size: 46px;
    line-height: 1.2;
  }

  .event-planning button {
    width: 140px;
    font-size: 14px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  .event_container ul li {
    font-size: 16px;
  }

  .event-planning .w-1\/4 {
    width: 50% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .event-planning h1 {
    font-size: 60px;
    line-height: 1.2;
  }
  .event_container ul li {
    font-size: 18px;
  }
}
