/* @media screen and (max-width: 767px) {
  .form-container {
    display: flex;
    flex-direction: column;
  }
  .form-container div label {
    margin-bottom: 10px;
    margin-top: 8px;
  }
  .form-container div input {
    width: 300px;
  }
  .form-container div select {
    width: 300px;
  }
  .form-container div textarea {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form-container div {
    display: flex;
    flex-direction: column;
  }
  .form-container div label {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .form-container div input,
  select,
  textarea {
    width: 320px;
    border-radius: 6px;
  }
} */
