@media screen and (max-width: 767px) {
  .testimonial_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
  }
  .testimonial_container .quote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .quote h3 {
    font-size: 20px;
  }
  .quote .message {
    font-size: 14px;
    padding: 0 40px;
  }
  .quote .role {
    font-size: 14px;
  }

  .quote .testimonial_link {
    font-size: 18px;
  }
  .quote .testimonial_link:hover {
    color: #a38d138f;
  }
  .quote button .icon__one {
    position: absolute;
    left: -5px;
    right: 0;
    top: 8px;
    bottom: 0;
  }
  .quote button .icon__two {
    position: absolute;
    top: 8px;
    right: 0;
    left: -20px;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonial_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
  }
  .testimonial_container .quote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .quote h3 {
    font-size: 22px;
  }
  .quote .message {
    font-size: 16px;
    padding: 0 30px;
  }
  .quote .role {
    font-size: 16px;
  }

  .quote .testimonial_link {
    font-size: 18px;
  }
  .quote .testimonial_link:hover {
    color: #a38d138f;
  }
  .quote button .icon__one {
    position: absolute;
    left: -5px;
    right: 0;
    top: 8px;
    bottom: 0;
  }
  .quote button .icon__two {
    position: absolute;
    top: 8px;
    right: 0;
    left: -20px;
    bottom: 0;
  }
}
