@media screen and (max-width: 767px) {
  .testimonial_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 36rem;
  }
  .testimonial_container .quote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 30rem;
  }
  .quote h1 {
    position: absolute;
    bottom: 0;
    top: 40px;
  }
  .quote h2 {
    font-size: 18px;
  }
  .quote div {
  }
  .quote .quote-icon {
    margin-bottom: 0.5rem;
    position: absolute;
    top: -60px;
    width: 45px;
  }
  .quote div p {
    font-size: 14px;
  }
  .quote div .role {
    font-size: 16px;
  }
  .quote div .testimonial_link {
    font-size: 18px;
  }
  .quote div .testimonial_link:hover {
    color: #fff;
  }
  .testimonial_container .icon__one {
    position: absolute;
    left: 24px;
  }
  .testimonial_container .icon__two {
    position: absolute;
    right: 10px;
  }
}
