@media screen and (max-width: 767px) {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 1rem;
    position: relative;
  }
  .header-content img {
    width: 100%;
    height: 550px;
    background-size: contain;
  }

  .header-content .button__container .button {
    width: 150px;
    padding: 6px;
    height: 45px;
    border-radius: 4px;
    font-size: 22px;
  }
  .header-content .diamond_icons .diamond_icon {
    width: 12px;
    height: 12px;
  }
  .header h2 {
    font-size: 20px;
  }
  .event-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .event-img-container .image__container img {
    width: 100%;
    height: inherit;
  }
  .event-img-container .image__container .overlap_text div {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
  }
  .event-img-container .image__container .overlap_text div span {
    font-size: 54px;
    line-height: 0.8;
    font-weight: 200;
    gap: 0;
  }
  .header .event_btn {
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
  }
  /* Brand Identity */

  .brand-identity {
    position: relative;
    gap: 2px;
  }
  .core-values {
    position: absolute;
    left: 24px;
    top: -20px;
    margin-left: 0;
    width: 220px;
    align-items: center;
    justify-self: center;
  }
  .core-values h2 {
    font-size: 20px;
  }
  .core-values li,
  span {
    font-size: 16px;
  }
  .core-values button {
    width: 150px;
  }
  .core-values span {
    text-align: center;
  }

  .brand-identity .core-values {
    height: 400px;
    padding: 8px;
  }
  .brand-identity .core-values_image img {
    width: 10px;
  }
  /* Iframe */
  .youtube_vid_container {
    width: 100%;
    height: 200px;
    margin-top: 35%;
    margin-bottom: 40%;
  }

  /* Mission & Vission */
  .mission-vission-container h2 {
    font-size: 18px;
  }
  .vission {
    display: flex;
    flex-direction: column;
  }
  .mission {
    display: flex;
    flex-direction: column;
  }
  .mv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
    text-align: center;
  }
  .mv-content h2 {
    font-size: 18px;
  }
  .mv-content p {
    font-size: 15px;
  }
  .mv-content .btn {
    width: 150px;
  }
  .mv__image {
    width: 100%;
    height: fit-content;
    order: 1;
  }

  /* NEWSLETTER */
  .newsletter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .newsletter_container .description .title {
    margin: 10px auto;
  }
  .newsletter_container .horizontal_line {
    rotate: 180deg;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  .input_container input {
    width: 300px;
  }
  .input_container button {
    position: absolute;
    top: 13px;
    bottom: 20px;
    right: 2px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-content .button__container .button {
    width: 180px;
    padding: 6px;
    height: 50px;
    border-radius: 4px;
  }
  .header-content .diamond_icons .diamond_icon {
    width: 14px;
    height: 14px;
  }
  .header h2 {
    font-size: 25px;
  }
  .event-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .event-img-container .image__container img {
    width: 100%;
    height: inherit;
  }
  .event-img-container .image__container .overlap_text div {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
  }
  .event-img-container .image__container .overlap_text div span {
    font-size: 65px;
    line-height: 0.8;
    font-weight: 200;
    gap: 0;
  }
  .header .event_btn {
    width: 200px;
    font-size: 18px;
    border-radius: 5px;
  }
  /* Core Values */
  .brand-identity {
    position: relative;
    gap: 2px;
  }
  .core-values {
    position: absolute;
    top: -20px;
    left: 64px;
    margin-left: 0;
    width: 250px;
    align-items: center;
    justify-self: center;
  }
  .core-values h2 {
    font-size: 22px;
  }
  .core-values li,
  span {
    font-size: 18px;
  }
  .core-values button {
    width: 180px;
  }
  .core-values span {
    text-align: center;
  }

  .brand-identity .core-values {
    height: 400px;
    padding: 8px;
  }

  /* Vission and mission */
  .mission-vission-container h2 {
    font-size: 22px;
  }
  .vission {
    display: flex;
    flex-direction: column;
  }
  .mission {
    display: flex;
    flex-direction: column;
  }
  .mv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
    text-align: center;
  }
  .mv-content h2 {
    font-size: 20px;
  }
  .mv-content p {
    font-size: 15px;
  }
  .mv-content .btn {
    width: 150px;
  }
  .mv__image {
    width: 100%;
    height: inherit;
    order: 1;
  }
  .newsletter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .newsletter_container .description .title {
    margin: 10px auto;
  }
  .newsletter_container .horizontal_line {
    rotate: 180deg;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  .input_container input {
    width: 300px;
  }
  .input_container button {
    position: absolute;
    top: 13px;
    bottom: 20px;
    right: 2px;
  }
}
