/* Mobile responsiveness */
@media screen and (max-width: 767px) {
  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-container .service-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-sidebar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-container .service-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .service-main h1 {
    font-size: 25px;
  }
  .service-main p {
    font-size: 16px;
  }
  .service-main div h2 {
    font-size: 40px;
    line-height: 38px;
  }
}

/* Tablet and ipad responsiveness */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-container .service-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-sidebar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-container .service-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .service-main h1 {
    font-size: 28px;
  }
  .service-main p {
    font-size: 18px;
  }
  .service-main div h2 {
    font-size: 45px;
    line-height: 38px;
  }
}
